@main-color: #30b5d8;
@gray-color: lightgray;

.partn-description {
  position: absolute;
  text-transform: none;
  color: white;
  font-size: 20px;
}

@import url('./header.less');
@import url('./style-icons.less');
@import url('./variables.less');

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e971";
}

.icon-menu:before {
  content: "\e9bd";
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e971";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-play3:before {
  content: "\ea1c";
}

body {
  margin: 0;
  padding: 0;
}

#menucheck2 {
  display: none;
}

label.regform {
  display: none;
}

label.menulist {
  display: none;
}

#menucheck {
  display: none;
}

label.regform {
  margin: 10px;
}

.container {
  position: relative;
  max-height: 588px;
}

.relation_ration {
  padding-top: 43.7%;
  height: 0;
}

.slider {
  max-width: 1350px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  & > img {
    position: absolute;
    left: 0px;
    max-width: 1345px;
    margin: 1px;
  }
  & > input {
    display: none;
  }
  & > input + label {
    display: inline-block;
    cursor: pointer;
    z-index: 100;
    position: absolute;
  }

  & > input:checked + label + div {
    visibility: visible;
    opacity: 1;
  }

  & input[name='slide_switch'] ~ img {
    opacity: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  & input[name='slide_switch']:checked + label + img {
    opacity: 1;
  }

  & label:nth-of-type(1) {
    top: 60px;
    right: 500px;

  }

  & label:nth-of-type(2) {
    top: 60px;
    right: 350px;

  }

  & label:nth-of-type(3) {
    top: 60px;
    right: 200px;

  }

  & label:nth-of-type(4) {
    top: 160px;
    right: 200px;

  }

  & label:nth-of-type(5) {
    top: 258px;
    right: 200px;

  }
}

.slide_deskription {
  position: absolute;
  width: 30%;
  height: auto;
  background-color: @main-color;
  right: 360px;
  top: 160px;
}

.slide_deskription h3 {
  padding: 0px 5px;
}

.slide_deskription p {
  padding: 0px 5px;
  color: white;
}

img.decor {
  position: absolute;
  width: 50%;
  top: 89%;
}

.new {
  width: 10%;
  height: 5%;
  float: right;
  border: none;
  text-transform: capitalize;
  font-size: 1.5em;
  margin: 0 50px 0 0;
  background-color: white;
  color: gray;
  padding: 10px 5px;
}

.popular {
  height: 5%;
  float: right;
  border: none;
  text-transform: capitalize;
  font-size: 1.5em;
  margin: 0;
  background-color: orange;
  padding: 10px 15px;
  border-radius: 3px;

}

.sorting span {
  float: right;
  font-size: 1.5em;
  padding: 10px 20px;

}

.sorting {
  margin: 20px 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.chapter_header {
  font-size: 1.5em;
  font-weight: 800;
  text-transform: uppercase;
  float: left;
  margin-left: 10%;
  width: 85%;

}

.chapter_header a {
  font-size: 0.9em;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  border-bottom: dashed 1px;
  color: @main-color;
  margin: 10px;
  display: inline-block;
}

.chapter_header a:hover {
  color: @main-color;
}

hr {
  margin: 5px 40px 5px 0;
  border: 2px solid #f6f6f6;
}

.chapter_header h2 {
  display: inline-block;
  margin-left: 50px;
  @media (max-width: 850px) {
    margin: 0;
  }

}

.block-search {
  width: 45%;
  float: right;
  margin: -60px 40px;
  color: @main-color;
  font-size: 0.9em;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: @gray-color url("../images/select-arrow.png") no-repeat;
  background-position-x: 98%;
  background-position-y: 51%;
  padding-left: 5px;
}

i.fa.fa-user-o {
  display: none;
}

.slide2 {
  margin: 20px 40px 20px 0;
  font-size: 0;
}

.partcomm {
  position: relative;
  overflow: hidden;
  float: left;
}

.slide2 img {
  width: 100%;
}

.part1 {
  width: 58%;
  position: relative;
}

.part2,
.part5 {
  width: 42%;
}

.part3,
.part4 {
  width: 29%;
}

.part6,
.part7 {
  width: 21%;
}

.part1-description {
  position: absolute;
  left: 8%;
  width: 67%;
  bottom: 10%;
  text-transform: none;
  background-color: #8e2e49;
  opacity: 0.8;
  color: white;
  transform: skewX(-5deg);
  font-size: 25px;
}

.part1-description::after {
  content: " ";
  position: absolute;
  border: 3px solid #f0cb59;
  width: 25%;
  top: -15px;
}

.part1-description p {
  margin: 0;
  padding: 10px 5px;
}

.part2-description,
.part3-description,
.part5-description {
  left: 8%;
  width: 67%;
  bottom: 5%;
  .partn-description;
}

.part2-description::after,
.part5-description::after {
  content: " ";
  position: absolute;
  border: 3px solid #f0cb59;
  width: 30%;
  top: -5px;

}

.part2:hover .part2-description,
.part3:hover .part3-description,
.part4:hover .part4-description,
.part5:hover .part5-description,
.part6:hover .part6-description,
.part7:hover .part7-description {
  display: none;
}

.part2-description-block2,
.part5-description-block2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: @gray-color;
  display: none;

}

.part2:hover .part2-description-block2,
.part3:hover .part3-description-block2,
.part4:hover .part4-description-block2,
.part5:hover .part5-description-block2,
.part6:hover .part6-description-block2,
.part7:hover .part7-description-block2 {
  display: block;
}

.wrapper-description {
  position: absolute;
  display: table;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.border-arrow::after,
.border-arrow5::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: -40px;
  top: 50%;
  border: 20px solid transparent;
  border-right: 20px solid @gray-color;
  margin-top: -20px;
}

.part2-description-block2 p,
.part3-description-block2 p,
.part4-description-block2 p,
.part5-description-block2 p,
.part6-description-block2 p,
.part7-description-block2 p {
  font-size: 20px;
  text-transform: none;
  padding: 5% 5%;
  display: table-cell;
  vertical-align: middle;
}

.part3-description::after,
.part4-description::after {
  content: " ";
  position: absolute;
  border: 3px solid #f0cb59;
  width: 40%;
  top: -5px;

}

.part3-description-block2 {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: @gray-color;
  display: none;
}

.border-arrow2::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: 20px solid transparent;
  border-bottom: 20px solid @gray-color;
  margin-left: -20px;
}

.part4-description {
  position: absolute;
  left: 8%;
  width: 67%;
  bottom: 0;
  text-transform: none;
  color: white;
  font-size: 20px;
}

.part4-description-block2 {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: @gray-color;
  display: none;
}

.part6-description,
.part7-description {
  position: absolute;
  left: 8%;
  width: 70%;
  bottom: 0;
  text-transform: none;
  color: white;
  font-size: 20px;
}

.part6-description::after,
.part7-description::after {
  content: " ";
  position: absolute;
  border: 3px solid #f0cb59;
  width: 50%;
  top: -5px;

}

.part6-description-block2,
.part7-description-block2 {
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  background-color: @gray-color;
  display: none;
}

.border-arrow4::after,
.border-arrow6::after,
.border-arrow7::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: 20px solid transparent;
  border-bottom: 20px solid @gray-color;
  margin-left: -20px;
}

@media (max-width: 1060px) {
  .list_routes {
    display: none;
    position: absolute;
    background: @main-color;
  }

  .list_routes li {
    float: none;
  }

  .menulist {
    display: inline-block;
    cursor: pointer;
  }

  #menucheck:checked + .list_routes {
    display: block;
  }

  .block-search {
    float: none;
    width: 70%;
    margin: 0 auto;
  }

  label.menulist {
    display: inline-block;
    margin: 11px;
    font-size: 2em;
    font-weight: 600;
  }

  nav {
    z-index: 100;

  }

  .slide_deskription {
    display: none;
  }

  .slider label:nth-of-type(1) {
    top: 0;
    right: 0;
  }

  .slider label {
    height: 20%;
  }

  .slider label img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  .slider label:nth-of-type(2) {
    top: 20%;
    right: 0;
  }

  .slider label:nth-of-type(3) {
    top: 40%;
    right: 0;
  }

  .slider label:nth-of-type(4) {
    top: 60%;
    right: 0;
  }

  .slider label:nth-of-type(5) {
    top: 80%;
    right: 0;
  }

  .decor {
    display: none;
  }

  header nav ul.list_routes li a {
    padding: 5px 13px;
    margin-top: 0px;
  }

  header nav ul.list_routes li a:hover {
    color: white;
  }

  .part1-description p,
  .part2-description p,
  .part3-description p,
  .part4-description p,
  .part5-description p,
  .part6-description p,
  .part7-description p {
    font-size: 15px;
  }

  .part2-description-block2 p,
  .part3-description-block2 p,
  .part4-description-block2 p,
  .part5-description-block2 p,
  .part6-description-block2 p,
  .part7-description-block2 p {
    font-size: 15px;

  }

}

@media (max-width: 850px) {
  .part1, .part2, .part5 {
    width: 100%;
  }

  .part3, .part4, .part6, .part7 {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .logo {
    padding: 10px 5px;
    margin: 0 10px 0 5px;
  }

  ul.list_routes li a {
    padding: 0 19px;
    margin-top: 5px;
    font-size: 1.1em;
  }

  .slider label {
    height: 28.6%;
  }

  .slider label img {
    position: absolute;
    left: 0;
    height: 100%;
  }

  .slider label:nth-of-type(1) {
    top: 71%;
    left: 0;
    position: absolute;
  }

  .slider label:nth-of-type(2) {
    left: 20%;
    top: 71%;
    position: absolute;
  }

  .slider label:nth-of-type(3) {
    left: 40%;
    top: 71%;
  }

  .slider label:nth-of-type(4) {
    left: 60%;
    top: 71%;
  }

  .slider label:nth-of-type(5) {
    left: 80%;
    top: 71%;
  }

}

@media (max-width: 480px) {
  .new {
    font-size: 1em;
    width: 20%;
    margin-right: 25px;
  }

  .popular {
    font-size: 1em;
  }

  .sorting span {
    font-size: 1em;
    padding: 10px 5px;
  }

  .reg {
    display: none;
    position: absolute;
    top: 70px;
    z-index: 100;
    left: 235px;
  }

  label.regform {
    display: inline-block;
    cursor: pointer;
  }

  #menucheck2:checked + .reg {
    display: block;
  }

  .Enter {
    width: 90px;
    height: 20px;
    font-size: 0.6em;
    margin: 5px 0;
  }

  .Chek_in {
    width: 90px;
    height: 20px;
    font-size: 0.6em;
    margin: 5px 0px;
    background: white;
  }

  ul.list_routes li a {
    margin-top: -5px
  }

  i.fa.fa-user-o {
    display: inline-block;
    margin: 26px;

  }
}

.add-more {
  float: left;
  margin: 3% 0;
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    border-radius: 50px;
    background-color: white;
    border: 2px solid #30b5d8;
    font-size: 20px;
    text-transform: none;
    padding: 10px 70px;
    vertical-align: center;
    &:hover {
      background-color: #30b5d8;
      border: 2px solid @gray-color
    }
  }
}

.block-games1 {

  .wrapper-games1 {
    background-color: #399084;
    margin-left: 100px;
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 0.1px solid transparent;
    @media (max-width: 1124px) {
      width: 100%;
      margin-left: 0;
    }
    .left-effect1 {
      background-color: #2a8075;
      top: 18px;
      position: absolute;
      height: 100%;
      width: 100px;
      transform: skewY(-20deg);
      float: left;
      margin-left: -100px;
      @media (max-width: 1124px) {
        display: none;
      }
    }
    .chapter-games-block1 {
      margin: 20px 60px;
      text-align: center;

      h2 {
        float: left;
        margin: 10px;
        font: normal 40px Open Sans Extra Bold, sans-serif;
        font-weight: bolder;
        color: white;
        @media (max-width: 1060px) {
          float: none;
          text-align: center;
        }
      }
      a {
        float: left;
        margin: 20px;
        color: white;
        padding-top: 5px;
        border-bottom: 1px dashed #fff;
        text-decoration: none;
        &:hover {
          color: #30b5d8;
          border-bottom: 1px dashed #30b5d8;
        }
        @media (max-width: 1060px) {

          float: none;
        }
      }
      .radio-point {
        margin: 20px 0 0 -200px;
        padding: 5px;
        display: inline-block;
        @media (max-width: 1060px) {
          width: 75%;
          margin: 20px 10%;
        }
        input {
          float: left;
          transform: scale(1.3);
          margin-left: 15px;
          @media (max-width: 1060px) {
            float: none;
          }
          @media (max-width: 640px) {
            margin: 0;
          }
        }
      }
      .slide-scroll {
        float: right;
        position: relative;
        margin-top: 10px;
        @media (max-width: 1060px) {
          float: none;
          margin: 0;
          top: -65px;

        }
        .arrow() {
          content: " ";
          position: absolute;
          width: 0px;
          height: 0px;
        }
        .scroll-params () {
          width: 50px;
          height: 50px;
          margin: 0;
          background-color: black;
          border-bottom: none;
        }

        .scroll-left {
          .scroll-params;
          float: left;
          margin-right: 5px;

          &::before {
            .arrow;
            border-top: 20px solid transparent;
            border-right: 20px solid white;
            border-bottom: 20px solid transparent;
            top: 7px;
            left: 10px;
          }
          &::after {
            .arrow;
            border-top: 15px solid transparent;
            border-right: 15px solid black;
            border-bottom: 15px solid transparent;
            top: 12px;
            left: 15px;
          }
        }
        .scroll-right {
          float: right;
          .scroll-params;

          &::before {
            .arrow;
            border-top: 20px solid transparent;
            border-left: 20px solid white;
            border-bottom: 20px solid transparent;
            top: 7px;
            right: 10px;
          }
          &::after {
            .arrow;
            border-top: 15px solid transparent;
            border-left: 15px solid black;
            border-bottom: 15px solid transparent;
            top: 12px;
            right: 15px;
          }
        }
      }
    }
  }
  .wrapper-g-content {
    margin: 40px 60px;
    background-color: white;
    .size-block () {
      width: 50%;
    }
    .size-block2 () {
      width: 100%;
    }
    .img-block () {
      float: left;
      margin: 10px;
      width: 50%;
      border-bottom: 5px solid red;
    }
    .img-block2 () {
      width: 30%;
      border-bottom: 3px solid red;
    }
    .rating-games-c1, .rating-games-c2,
    .rating-games-c3, .rating-games-c4 {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #f0cb59;
      top: -10px;
      right: 5px;
      & > span {
        font-size: x-large;
        font-weight: 900;
        line-height: 50px;
        padding: 10px;
      }
    }
    .content-col1, .content-col2 {
      float: left;
      position: relative;
      .size-block;
      & > img {
        .img-block;
      }
      @media (max-width: 930px) {
        .size-block2;
        & > img {
          .img-block2;
        }
      }
    }
    .content-col3, .content-col4 {
      float: left;
      position: relative;
      .size-block;
      & > img {
        .img-block;
      }
      @media (max-width: 930px) {
        .size-block2;
        & > img {
          .img-block2;
        }
      }

    }
    h2, p {
      padding-right: 50px;
      padding-left: 10px;
      @media (max-width: 1230px) {
        font-size: 1em;
      }
      @media (max-width: 500px) {
        font-size: 0.8em;
      }
    }

  }
}

.block-games2 {

  .wrapper-games2 {
    background-color: #eae7d6;
    margin-left: 100px;
    position: relative;
    border-top: 0.1px solid transparent;
    border-bottom: 0.1px solid transparent;

    @media (max-width: 1124px) {
      width: 100%;
      margin-left: 0;
    }
    .left-effect2 {
      background-color: #dfdccb;
      top: 18px;
      position: absolute;
      height: 100%;
      width: 100px;
      transform: skewY(-20deg);
      float: left;
      margin-left: -100px;
      @media (max-width: 1124px) {
        display: none;
      }
    }
    .chapter-games2 {
      margin: 20px 60px;
      text-align: center;
      .chapter-games-block2 {
        h2 {
          text-transform: uppercase;
          color: black;
          font: 800 35px Open Sans Extra Bold, sans-serif;
          display: inline-block;
          float: left;
          margin: 30px 20px 10px 60px;
          @media (max-width: 1060px) {
            width: 80%;
            float: none;
          }
          @media (max-width: 400px) {
            margin: 0;
            display: block;
          }
        }
        .all-catalog {
          float: left;
          margin: 20px;
          color: deepskyblue;
          padding-top: 30px;
          border-bottom: 1px dashed deepskyblue;
          text-decoration: none;
          &:hover {
            color: #30b5d8;
            border-bottom: #30b5d8;
          }
          @media (max-width: 1060px) {
            float: none;
            display: block;
            margin-bottom: 10px;
            padding: 0;
            border-bottom: none;

          }
        }
        .radio-point {
          margin: 50px 0 0 -200px;
          padding: 5px;
          display: inline-block;
          @media (max-width: 1060px) {
            width: 50%;
            margin: 20px 10%;
          }
          input {
            float: left;
            transform: scale(1.3);
            margin-left: 15px;
            text-align: center;
            @media (max-width: 1060px) {
              float: none;
            }
            @media (max-width: 640px) {
              margin: 0;
            }
          }
        }
        .slide-scroll1 {
          float: right;
          position: relative;
          margin: 30px 0px 0 10px;
          @media (max-width: 1060px) {
            float: none;
            margin: 0;
            top: -65px;

          }

          .arrow1() {
            content: " ";
            position: absolute;
            width: 0px;
            height: 0px;
          }
          .scroll-params1 () {
            width: 50px;
            height: 50px;
            margin: 0;
            background-color: black;
            border-bottom: none;
          }

          .scroll-left1 {
            .scroll-params1;
            float: left;
            margin-right: 5px;
            padding-bottom: 3px;

            &::before {
              .arrow1;
              border-top: 20px solid transparent;
              border-right: 20px solid white;
              border-bottom: 20px solid transparent;
              top: 7px;
              left: 10px;
            }
            &::after {
              .arrow1;
              border-top: 15px solid transparent;
              border-right: 15px solid black;
              border-bottom: 15px solid transparent;
              top: 12px;
              left: 15px;
            }
          }
          .scroll-right1 {
            float: right;
            padding-bottom: 3px;
            .scroll-params1;

            &::before {
              .arrow1;
              border-top: 20px solid transparent;
              border-left: 20px solid white;
              border-bottom: 20px solid transparent;
              top: 7px;
              right: 10px;
            }
            &::after {
              .arrow1;
              border-top: 15px solid transparent;
              border-left: 15px solid black;
              border-bottom: 15px solid transparent;
              top: 12px;
              right: 15px;
            }
          }
        }
      }
    }
    .wrapper-g-content2 {
      margin: 20px 60px;

      .col2 () {
        float: left;
        margin-left: 10px;
        width: 45%;
        position: relative;
        background-color: white;
        @media (max-width: 1230px) {
          font-size: 0.8em;
        }
        @media (max-width: 960px) {
          width: 100%;
        }
      }
      & img {
        float: left;
        margin-right: 5px;
        width: 50%;
        border-bottom: 5px solid red;
      }
      & p {
        padding: 0 5px 0 10px;
        font-family: Open Sans;
      }
      & h2 {
        font-family: Open Sans;
        margin: 0;
        padding-left: 10px;
      }
      .play-botton {
        width: 70px;
        height: 70px;
        background-color: red;
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: 1060px) {
          width: 40px;
          height: 40px;
        }
        .icon-play3:before {
          content: "\ea1c";
          color: white;
          font-size: 50px;
          position: absolute;
          top: 10px;
          left: 10px;
          @media (max-width: 1060px) {
            top: 6px;
            left: 6px;
            font-size: 30px;
          }
        }
      }

      .col21, .col22, .col23, .col24, .col25, .col26 {
        .col2;
        margin: 15px;
      }

    }

  }
}

.wrapper-articles {
  margin: 20px 135px;
  @media (max-width: 800px) {
    margin: 20px 60px;
  }
  @media (max-width: 550px) {
    margin: 10px 0px 10PX 0;
  }

  .header-articles {
    margin-bottom: 10px;
    @media (max-width: 800px) {
      text-align: center;
    }
    h2 {
      margin: 15px 30px 0px 5px;
      padding-left: 10px;
      float: left;
      font: 800 35px Open Sans Extra Bold, sans-serif;
      @media (max-width: 800px) {
        float: none;
        margin: 0;
      }
    }
    a {
      border-bottom: 1px dashed deepskyblue;
      text-decoration: none;
      margin: 35px 30px 0px 5px;
      display: inline-block;
      color: deepskyblue;
      &:hover {
        color: dodgerblue;
        border-bottom: none;
      }
      @media (max-width: 800px) {
        margin: 0;

      }
    }
    button {
      float: right;
      margin: 35px 15px 0px 5px;
      border-radius: 50px;
      font-size: 15px;
      padding: 5px 15px;
      background-color: #30b5d8;
      color: white;
      border: transparent;
      &:hover {
        background-color: lightblue;
      }
      @media (max-width: 800px) {
        float: none;
        display: block;
        margin: 15px auto;
      }
    }
  }
  .description-article {
    .colrowcom () {
      border: 2px solid #ededed;
      float: left;
      margin: 15px 15px;
      & img {
        float: left;
        margin: 0px 5px 0px 0px;
      }

      .date {
        width: 70px;
        height: 70px;
        background-color: dodgerblue;
        color: white;
        float: left;
        padding: 5px 10px;
        box-sizing: border-box;
        span {
          padding: 10px 8px 0;
          font-weight: 900;
          font-size: 30px;
        }
        p {
          margin: 0 auto;
          text-align: center;
        }
      }
      .views-data {
        background-color: #dfdccb;
        border-top: 1px solid gray;
        height: 70px;
        width: 55%;
        position: absolute;
        left: 130px;

        .icon-bubble2:before {
          content: "\e96e";
        }
        .icon-rocket:before {
          content: "\e9a5";
        }
        h2 {
          margin: 0 10px;
          color: dodgerblue;
          font-size: 20px;
          @media (max-width: 400px) {
            font-size: medium;
          }
        }
        .icondate {
          margin-left: 5px;
          span {
            margin: 5px;
            color: gray;
            font-size: small;
          }
        }
      }
    }

    .colrow1, .colrow2, .colrow3, .colrow4, .colrow5, .colrow6 {
      .colrowcom;
      width: 30%;
      height: 450px;
      position: relative;
      &:hover {
        background-color: skyblue;
        color: white;
      }

      @media (max-width: 1300px) {
        width: 45%;
      }
      @media (max-width: 980px) {
        width: 90%;
        height: auto;
      }
      .imgdate {
        margin: 10px 0 0 -15px;
        width: 100%;
        @media (max-width: 550px) {
          margin: 10px 0 0 -10px;
        }
      }
      .col-content {
        h3 {
          margin: 15px 5px 10px 25px;
          color: black;
        }
        p {
          margin: 15px 5px 0 25px;
          text-overflow: ellipsis;

        }
      }
    }
  }
}

.wrapper-footer {
  background-color: #dfdccb;
  position: relative;
  .p-ages {
    width: 90px;
    height: 45px;
    border: 5px solid gray;
    position: absolute;
    right: 90px;
    top: 40px;
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    @media (max-width: 660px){
      display: none;
    }
  }
  .icon-footer () {
    position: absolute;
    font-size: 30px;
    top: 10px;
    padding: 8px;
    border-radius: 10px;
    @media (max-width: 660px){
      font-size: 20px;
      padding: 5px;
    }
  }
  .dark-block {
    background-color: #33282c;
    border-top: 10px solid #f0cb59;
    width: 50%;
    margin-left: 80px;
    margin-bottom: 30px;
    position: relative;
    @media (max-width: 660px) {
      margin-left: 20px;
      width: 90%;
    }
    & img {
      width: 75%;
      position: absolute;
      right: -230px;
      bottom: -75px;
      @media (max-width: 1100px) {
        width: 55%;
        right: -145px;
        bottom: -55px;
      }
      @media (max-width: 920px){
        display: none;
      }
    }
    .icon-accessibility:before {
      content: "\e9b2";
      font-size: 50px;
      color: black;
      position: absolute;
      background-color: #f0cb59;
      margin: -10px 5px 0 -15px;
      padding: 10px 5px 5px;
    }
    .icon-twitter:before {
      content: "\ea96";
      .icon-footer;
      left: 60px;
      background-color: lightskyblue;

    }
    .icon-facebook:before {
      content: "\ea90";
      .icon-footer;
      left: 120px;
      background-color: blue;
      @media (max-width: 660px){
        left: 100px;
      }
    }
    .icon-renren:before {
      content: "\ea99";
      .icon-footer;
      left: 180px;
      background-color: hotpink;
      @media (max-width: 660px){
        left: 140px;
      }
    }
    .icon-google:before {
      content: "\ea88";
      .icon-footer;
      left: 240px;
      background-color: orange;
      @media (max-width: 660px){
        left: 180px;
      }
    }

    h4 {
      width: 60%;
      margin: 80px 30px 30px;
      color: white;
      font-size: 1em;
      font-weight: bold;
    }
    p {
      width: 60%;
      margin: 0px 30px;
      color: white;
      font-size: 0.8em;
      padding-bottom: 20px;
    }
    button {
      background-color: lightskyblue;
      color: white;
      border: none;
      font-size: 20px;
      width: 30%;
      height: 15%;
      left: 160px;
      position: absolute;
      bottom: -20PX;
      @media (max-width: 960px) {
        bottom: -35PX;
        font-size: 15px;
        left: 200px;
      }
      @media (max-width: 960px){
        left: 150px;
      }
    }

  }
  .permission-info {
    width: 20%;
    font-size: 0.8em;
    margin: 5px 10px;
    position: absolute;
    right: 0px;
    top: 145px;
    @media (max-width: 920px){
      width: 30%;
      top: 120px;
    }
    @media (max-width: 660px){
    display: none;
  }

  }
  .left-right-decor {
    height: 10px;
    position: relative;
    padding-top: 35px;
    width: 100%;
    .decor-left {
      border: 7.5px solid #ff4c36;
      position: absolute;
      width: 40%;
      bottom: 0px;
      @media (max-width: 660px){
        border: 3.5px solid #ff4c36;
      }
    }
    .decor-right {
      border: 7.5px solid #30b5d8;
      position: absolute;
      width: 35%;
      bottom: 0px;
      right: 0;
      @media (max-width: 660px){
        border: 3.5px solid #ff4c36;
      }
    }
    & img {
      position: absolute;
      left: 30%;
      bottom: 0;
      width: 45%;
    }
  }
}


