.slider {
    max-width: 1350px;
    position: relative;
    padding-top: 0px;
    margin: 0px;
    width: 100%;
    }
/*

.slider label {
    margin: 18px 0 0 18px;
    float: left;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0.6;

}
.slider label img{
    display: inline-block;
}
.slider input[name='slide_switch']:checked+label {
    border-color: #666;
    opacity: 1;
}
.slider input[name='slide_switch'] ~ img {
    opacity: 0;
    transform: scale(1);
}
.slider input[name='slide_switch']:checked+label+img {
    opacity: 1;
    transform: scale(1);
}

*/

