.partn-description {
  position: absolute;
  text-transform: none;
  color: white;
  font-size: 20px;
}
button:hover {
  cursor: pointer;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?gc1bfh') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e971";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-play3:before {
  content: "\ea1c";
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Open Sans", sans-serif;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e971";
}
@media (max-width: 360px) {
  .icon-user:before {
    font-size: 1em;
  }
}
.icon-menu:before {
  content: "\e9bd";
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e971";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-play3:before {
  content: "\ea1c";
}
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: white;
  width: 100%;
  height: 70px;
}
header .logo {
  background-color: #30b5d8;
  float: left;
  padding: 10px 30px;
  margin: 0 10px 0 100px;
  height: 100%;
}
@media (max-width: 690px) {
  header .logo {
    padding: 10px 5px;
    margin: 0 10px 0 5px;
  }
}
@media (max-width: 470px) {
  header .logo {
    padding: 10px 0px;
    margin: 0 10px 0 0px;
  }
}
header nav {
  display: inline-block;
  float: left;
  position: relative;
}
@media (max-width: 1070px) {
  header nav {
    z-index: 100;
  }
  header nav #menucheck:checked + .list_routes {
    display: block;
  }
}
header nav .menulist {
  display: none;
}
@media (max-width: 1070px) {
  header nav .menulist {
    cursor: pointer;
    display: inline-block;
    margin: 11px;
    font-size: 2em;
    font-weight: 600;
  }
}
@media (max-width: 360px) {
  header nav .menulist {
    font-size: 1.5em;
    margin: 15px 0 0 5px;
  }
}
header nav #menucheck {
  display: none;
}
header nav .list_routes {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 1070px) {
  header nav .list_routes {
    display: none;
    position: absolute;
    background: #30b5d8;
  }
}
header nav .list_routes li {
  float: left;
}
@media (max-width: 1070px) {
  header nav .list_routes li {
    float: none;
  }
}
header nav .list_routes li a {
  text-decoration: none;
  color: gray;
  display: inline-block;
  padding: 11px 13px;
  margin-top: 10px;
  font-size: 1.3em;
}
@media (max-width: 1070px) {
  header nav .list_routes li a {
    padding: 5px 13px;
    margin-top: 0px;
  }
}
@media (max-width: 640px) {
  header nav .list_routes li a {
    padding: 1px;
    font-size: 1em;
  }
}
header nav .list_routes li a a:hover {
  color: #30b5d8;
}
@media (max-width: 1070px) {
  header nav .list_routes li a a:hover {
    color: white;
  }
}
header .box-search {
  width: 75px;
  height: 70px;
  float: left;
  left: 20px;
  position: relative;
  background-color: lightgray;
}
@media (max-width: 1070px) {
  header .box-search {
    margin: 0 auto;
  }
}
@media (max-width: 470px) {
  header .box-search {
    width: 55px;
  }
}
header .box-search:hover {
  cursor: pointer;
  background-color: #30b5d8;
}
header .box-search .icon {
  position: absolute;
  top: 15px;
  left: 23px;
  font-size: 30px;
}
@media (max-width: 470px) {
  header .box-search .icon {
    top: 20px;
    left: 20px;
    font-size: 20px;
  }
}
header .checkenter {
  position: relative;
}
@media (max-width: 680px) {
  header .checkenter #menucheck2:checked + .reg {
    display: block;
  }
}
header .checkenter .regform {
  display: none;
  margin: 10px;
}
@media (max-width: 680px) {
  header .checkenter .regform {
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 40px;
  }
}
@media (max-width: 360px) {
  header .checkenter .regform {
    font-size: 1em;
    top: 10px;
    left: 20px;
  }
}
header .checkenter #menucheck2 {
  display: none;
}
@media (max-width: 680px) {
  header .checkenter .reg {
    display: none;
  }
}
header .checkenter .register {
  width: 140px;
  height: 40px;
  border: none;
  background-color: #30b5d8;
  text-transform: uppercase;
  float: right;
  font-size: 1em;
  font-weight: 600;
  margin: 15px 10px;
}
@media (max-width: 680px) {
  header .checkenter .register {
    width: 90px;
    height: 20px;
    font-size: 0.6em;
    margin: 45px 85px;
    background: white;
    position: absolute;
    z-index: 200;
  }
}
@media (max-width: 470px) {
  header .checkenter .register {
    margin: 45px 10px;
  }
}
@media (max-width: 360px) {
  header .checkenter .register {
    margin: 45px -25px;
  }
}
header .checkenter .register:hover {
  cursor: pointer;
  background-color: lightgray;
}
header .checkenter .log-in {
  width: 75px;
  height: 40px;
  border: none;
  text-transform: uppercase;
  float: right;
  font-size: 1em;
  font-weight: 600;
  margin: 15px 0;
  background-color: white;
}
@media (max-width: 680px) {
  header .checkenter .log-in {
    width: 90px;
    height: 20px;
    font-size: 0.6em;
    margin: 20px 85px;
    position: absolute;
    z-index: 200;
    background: white;
  }
}
@media (max-width: 470px) {
  header .checkenter .log-in {
    margin: 20px 10px;
  }
}
@media (max-width: 360px) {
  header .checkenter .log-in {
    margin: 20px -25px;
  }
}
header .checkenter .log-in:hover {
  cursor: pointer;
  background-color: lightgray;
}
.container {
  position: relative;
  max-height: 588px;
}
.relation_ration {
  padding-top: 43.7%;
  height: 0;
}
.slider {
  max-width: 1350px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider > img {
  position: absolute;
  left: 0px;
  max-width: 1345px;
  margin: 1px;
}
.slider > input {
  display: none;
}
.slider > input + label {
  display: inline-block;
  cursor: pointer;
  z-index: 100;
  position: absolute;
}
.slider > input:checked + label + div {
  visibility: visible;
  opacity: 1;
}
.slider input[name='slide_switch'] ~ img {
  opacity: 0;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.slider input[name='slide_switch']:checked + label + img {
  opacity: 1;
}
.slider label:nth-of-type(1) {
  top: 60px;
  right: 500px;
}
.slider label:nth-of-type(2) {
  top: 60px;
  right: 350px;
}
.slider label:nth-of-type(3) {
  top: 60px;
  right: 200px;
}
.slider label:nth-of-type(4) {
  top: 160px;
  right: 200px;
}
.slider label:nth-of-type(5) {
  top: 258px;
  right: 200px;
}
.slide_deskription {
  position: absolute;
  width: 30%;
  height: auto;
  background-color: #30b5d8;
  right: 360px;
  top: 160px;
}
@media (max-width: 1070px) {
  .slide_deskription {
    display: none;
  }
}
.slide_deskription h3 {
  padding: 0px 5px;
}
.slide_deskription p {
  padding: 0px 5px;
  color: white;
}
img.decor {
  position: absolute;
  width: 50%;
  top: 89%;
}
.new {
  width: 10%;
  height: 5%;
  float: right;
  border: none;
  text-transform: capitalize;
  font-size: 1.5em;
  margin: 0 50px 0 0;
  background-color: white;
  color: gray;
  padding: 10px 5px;
}
.popular {
  height: 5%;
  float: right;
  border: none;
  text-transform: capitalize;
  font-size: 1.5em;
  margin: 0;
  background-color: orange;
  padding: 10px 15px;
  border-radius: 3px;
}
.sorting span {
  float: right;
  font-size: 1.5em;
  padding: 10px 20px;
}
.sorting {
  margin: 20px 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.chapter_header {
  font-size: 1.5em;
  font-weight: 800;
  text-transform: uppercase;
  float: left;
  margin-left: 10%;
  width: 85%;
}
.chapter_header a {
  font-size: 0.9em;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  border-bottom: dashed 1px;
  color: #30b5d8;
  margin: 10px;
  display: inline-block;
}
.chapter_header a:hover {
  color: #30b5d8;
}
hr {
  margin: 5px 40px 5px 0;
  border: 2px solid #f6f6f6;
}
.chapter_header h2 {
  display: inline-block;
  margin-left: 50px;
}
@media (max-width: 850px) {
  .chapter_header h2 {
    margin: 0;
  }
}
.block-search {
  width: 45%;
  float: right;
  margin: -60px 40px;
  color: #30b5d8;
  font-size: 0.9em;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: lightgray url("../images/select-arrow.png") no-repeat;
  background-position-x: 98%;
  background-position-y: 51%;
  padding-left: 5px;
}
i.fa.fa-user-o {
  display: none;
}
.slide2 {
  margin: 20px 40px 20px 0;
  font-size: 0;
}
.partcomm {
  position: relative;
  overflow: hidden;
  float: left;
}
.slide2 img {
  width: 100%;
}
.part1 {
  width: 58%;
  position: relative;
}
.part2,
.part5 {
  width: 42%;
}
.part3,
.part4 {
  width: 29%;
}
.part6,
.part7 {
  width: 21%;
}
.part1-description {
  position: absolute;
  left: 8%;
  width: 67%;
  bottom: 10%;
  text-transform: none;
  background-color: #8e2e49;
  opacity: 0.8;
  color: white;
  transform: skewX(-5deg);
  font-size: 25px;
}
.part1-description::after {
  content: " ";
  position: absolute;
  border: 3px solid #f0cb59;
  width: 25%;
  top: -15px;
}
.part1-description p {
  margin: 0;
  padding: 10px 5px;
}
.part2-description,
.part3-description,
.part5-description {
  left: 8%;
  width: 67%;
  bottom: 5%;
  position: absolute;
  text-transform: none;
  color: white;
  font-size: 20px;
}
.part2-description::after,
.part5-description::after {
  content: " ";
  position: absolute;
  border: 3px solid #f0cb59;
  width: 30%;
  top: -5px;
}
.part2:hover .part2-description,
.part3:hover .part3-description,
.part4:hover .part4-description,
.part5:hover .part5-description,
.part6:hover .part6-description,
.part7:hover .part7-description {
  display: none;
}
.part2-description-block2,
.part5-description-block2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: lightgray;
  display: none;
}
.part2:hover .part2-description-block2,
.part3:hover .part3-description-block2,
.part4:hover .part4-description-block2,
.part5:hover .part5-description-block2,
.part6:hover .part6-description-block2,
.part7:hover .part7-description-block2 {
  display: block;
}
.wrapper-description {
  position: absolute;
  display: table;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.border-arrow::after,
.border-arrow5::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: -40px;
  top: 50%;
  border: 20px solid transparent;
  border-right: 20px solid lightgray;
  margin-top: -20px;
}
.part2-description-block2 p,
.part3-description-block2 p,
.part4-description-block2 p,
.part5-description-block2 p,
.part6-description-block2 p,
.part7-description-block2 p {
  font-size: 20px;
  text-transform: none;
  padding: 5% 5%;
  display: table-cell;
  vertical-align: middle;
}
.part3-description::after,
.part4-description::after {
  content: " ";
  position: absolute;
  border: 3px solid #f0cb59;
  width: 40%;
  top: -5px;
}
.part3-description-block2 {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: lightgray;
  display: none;
}
.border-arrow2::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: 20px solid transparent;
  border-bottom: 20px solid lightgray;
  margin-left: -20px;
}
.part4-description {
  position: absolute;
  left: 8%;
  width: 67%;
  bottom: 0;
  text-transform: none;
  color: white;
  font-size: 20px;
}
.part4-description-block2 {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: lightgray;
  display: none;
}
.part6-description,
.part7-description {
  position: absolute;
  left: 8%;
  width: 70%;
  bottom: 0;
  text-transform: none;
  color: white;
  font-size: 20px;
}
.part6-description::after,
.part7-description::after {
  content: " ";
  position: absolute;
  border: 3px solid #f0cb59;
  width: 50%;
  top: -5px;
}
.part6-description-block2,
.part7-description-block2 {
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  background-color: lightgray;
  display: none;
}
.border-arrow4::after,
.border-arrow6::after,
.border-arrow7::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: 20px solid transparent;
  border-bottom: 20px solid lightgray;
  margin-left: -20px;
}
@media (max-width: 1070px) {
  .slide_deskription {
    display: none;
  }
  .slider label:nth-of-type(1) {
    top: 0;
    right: 0;
  }
  .slider label {
    height: 20%;
  }
  .slider label img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  .slider label:nth-of-type(2) {
    top: 20%;
    right: 0;
  }
  .slider label:nth-of-type(3) {
    top: 40%;
    right: 0;
  }
  .slider label:nth-of-type(4) {
    top: 60%;
    right: 0;
  }
  .slider label:nth-of-type(5) {
    top: 80%;
    right: 0;
  }
  .decor {
    display: none;
  }
  .part1-description p,
  .part2-description p,
  .part3-description p,
  .part4-description p,
  .part5-description p,
  .part6-description p,
  .part7-description p {
    font-size: 15px;
  }
  .part2-description-block2 p,
  .part3-description-block2 p,
  .part4-description-block2 p,
  .part5-description-block2 p,
  .part6-description-block2 p,
  .part7-description-block2 p {
    font-size: 15px;
  }
}
@media (max-width: 850px) {
  .part1,
  .part2,
  .part5 {
    width: 100%;
  }
  .part3,
  .part4,
  .part6,
  .part7 {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .slider label {
    height: 28.6%;
  }
  .slider label img {
    position: absolute;
    left: 0;
    height: 100%;
  }
  .slider label:nth-of-type(1) {
    top: 71%;
    left: 0;
    position: absolute;
  }
  .slider label:nth-of-type(2) {
    left: 20%;
    top: 71%;
    position: absolute;
  }
  .slider label:nth-of-type(3) {
    left: 40%;
    top: 71%;
  }
  .slider label:nth-of-type(4) {
    left: 60%;
    top: 71%;
  }
  .slider label:nth-of-type(5) {
    left: 80%;
    top: 71%;
  }
}
@media (max-width: 640px) {
  .new {
    font-size: 1em;
    width: 20%;
    margin-right: 25px;
  }
  .popular {
    font-size: 1em;
  }
  .sorting span {
    font-size: 1em;
    padding: 10px 5px;
  }
  .reg {
    display: none;
    position: absolute;
    top: 70px;
    z-index: 100;
    left: 235px;
  }
  i.fa.fa-user-o {
    display: inline-block;
    margin: 26px;
  }
}
.add-more {
  float: left;
  margin: 3% 0;
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-more button {
  border-radius: 50px;
  background-color: white;
  border: 2px solid #30b5d8;
  font-size: 20px;
  text-transform: none;
  padding: 10px 70px;
  vertical-align: center;
}
.add-more button:hover {
  background-color: #30b5d8;
  border: 2px solid lightgray;
}
.block-games1 .wrapper-games1 {
  background-color: #399084;
  margin-left: 100px;
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 0.1px solid transparent;
}
@media (max-width: 1124px) {
  .block-games1 .wrapper-games1 {
    width: 100%;
    margin-left: 0;
  }
}
.block-games1 .wrapper-games1 .left-effect1 {
  background-color: #2a8075;
  top: 18px;
  position: absolute;
  height: 100%;
  width: 100px;
  transform: skewY(-20deg);
  float: left;
  margin-left: -100px;
}
@media (max-width: 1124px) {
  .block-games1 .wrapper-games1 .left-effect1 {
    display: none;
  }
}
.block-games1 .wrapper-games1 .chapter-games-block1 {
  margin: 20px 60px;
  text-align: center;
}
.block-games1 .wrapper-games1 .chapter-games-block1 h2 {
  float: left;
  margin: 10px;
  font: normal 40px Open Sans Extra Bold, sans-serif;
  font-weight: bolder;
  color: white;
}
@media (max-width: 1060px) {
  .block-games1 .wrapper-games1 .chapter-games-block1 h2 {
    float: none;
    text-align: center;
  }
}
.block-games1 .wrapper-games1 .chapter-games-block1 a {
  float: left;
  margin: 20px;
  color: white;
  padding-top: 5px;
  border-bottom: 1px dashed #fff;
  text-decoration: none;
}
.block-games1 .wrapper-games1 .chapter-games-block1 a:hover {
  color: #30b5d8;
  border-bottom: 1px dashed #30b5d8;
}
@media (max-width: 1060px) {
  .block-games1 .wrapper-games1 .chapter-games-block1 a {
    float: none;
  }
}
.block-games1 .wrapper-games1 .chapter-games-block1 .radio-point {
  margin: 20px 0 0 -200px;
  padding: 5px;
  display: inline-block;
}
@media (max-width: 1060px) {
  .block-games1 .wrapper-games1 .chapter-games-block1 .radio-point {
    width: 75%;
    margin: 20px 10%;
  }
}
.block-games1 .wrapper-games1 .chapter-games-block1 .radio-point input {
  float: left;
  transform: scale(1.3);
  margin-left: 15px;
}
@media (max-width: 1060px) {
  .block-games1 .wrapper-games1 .chapter-games-block1 .radio-point input {
    float: none;
  }
}
@media (max-width: 640px) {
  .block-games1 .wrapper-games1 .chapter-games-block1 .radio-point input {
    margin: 0;
  }
}
.block-games1 .wrapper-games1 .chapter-games-block1 .slide-scroll {
  float: right;
  position: relative;
  margin-top: 10px;
}
@media (max-width: 1060px) {
  .block-games1 .wrapper-games1 .chapter-games-block1 .slide-scroll {
    float: none;
    margin: 0;
    top: -65px;
  }
}
.block-games1 .wrapper-games1 .chapter-games-block1 .slide-scroll .scroll-left {
  width: 50px;
  height: 50px;
  margin: 0;
  background-color: black;
  border-bottom: none;
  float: left;
  margin-right: 5px;
}
.block-games1 .wrapper-games1 .chapter-games-block1 .slide-scroll .scroll-left::before {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-right: 20px solid white;
  border-bottom: 20px solid transparent;
  top: 7px;
  left: 10px;
}
.block-games1 .wrapper-games1 .chapter-games-block1 .slide-scroll .scroll-left::after {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-right: 15px solid black;
  border-bottom: 15px solid transparent;
  top: 12px;
  left: 15px;
}
.block-games1 .wrapper-games1 .chapter-games-block1 .slide-scroll .scroll-right {
  float: right;
  width: 50px;
  height: 50px;
  margin: 0;
  background-color: black;
  border-bottom: none;
}
.block-games1 .wrapper-games1 .chapter-games-block1 .slide-scroll .scroll-right::before {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-left: 20px solid white;
  border-bottom: 20px solid transparent;
  top: 7px;
  right: 10px;
}
.block-games1 .wrapper-games1 .chapter-games-block1 .slide-scroll .scroll-right::after {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-left: 15px solid black;
  border-bottom: 15px solid transparent;
  top: 12px;
  right: 15px;
}
.block-games1 .wrapper-g-content {
  margin: 40px 60px;
  background-color: white;
}
.block-games1 .wrapper-g-content .rating-games-c1,
.block-games1 .wrapper-g-content .rating-games-c2,
.block-games1 .wrapper-g-content .rating-games-c3,
.block-games1 .wrapper-g-content .rating-games-c4 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f0cb59;
  top: -10px;
  right: 5px;
}
.block-games1 .wrapper-g-content .rating-games-c1 > span,
.block-games1 .wrapper-g-content .rating-games-c2 > span,
.block-games1 .wrapper-g-content .rating-games-c3 > span,
.block-games1 .wrapper-g-content .rating-games-c4 > span {
  font-size: x-large;
  font-weight: 900;
  line-height: 50px;
  padding: 10px;
}
.block-games1 .wrapper-g-content .content-col1,
.block-games1 .wrapper-g-content .content-col2 {
  float: left;
  position: relative;
  width: 50%;
}
.block-games1 .wrapper-g-content .content-col1 > img,
.block-games1 .wrapper-g-content .content-col2 > img {
  float: left;
  margin: 10px;
  width: 50%;
  border-bottom: 5px solid red;
}
@media (max-width: 930px) {
  .block-games1 .wrapper-g-content .content-col1,
  .block-games1 .wrapper-g-content .content-col2 {
    width: 100%;
  }
  .block-games1 .wrapper-g-content .content-col1 > img,
  .block-games1 .wrapper-g-content .content-col2 > img {
    width: 30%;
    border-bottom: 3px solid red;
  }
}
.block-games1 .wrapper-g-content .content-col3,
.block-games1 .wrapper-g-content .content-col4 {
  float: left;
  position: relative;
  width: 50%;
}
.block-games1 .wrapper-g-content .content-col3 > img,
.block-games1 .wrapper-g-content .content-col4 > img {
  float: left;
  margin: 10px;
  width: 50%;
  border-bottom: 5px solid red;
}
@media (max-width: 930px) {
  .block-games1 .wrapper-g-content .content-col3,
  .block-games1 .wrapper-g-content .content-col4 {
    width: 100%;
  }
  .block-games1 .wrapper-g-content .content-col3 > img,
  .block-games1 .wrapper-g-content .content-col4 > img {
    width: 30%;
    border-bottom: 3px solid red;
  }
}
.block-games1 .wrapper-g-content h2,
.block-games1 .wrapper-g-content p {
  padding-right: 50px;
  padding-left: 10px;
}
@media (max-width: 1230px) {
  .block-games1 .wrapper-g-content h2,
  .block-games1 .wrapper-g-content p {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  .block-games1 .wrapper-g-content h2,
  .block-games1 .wrapper-g-content p {
    font-size: 0.8em;
  }
}
.block-games2 .wrapper-games2 {
  background-color: #eae7d6;
  margin-left: 100px;
  position: relative;
  border-top: 0.1px solid transparent;
  border-bottom: 0.1px solid transparent;
}
@media (max-width: 1124px) {
  .block-games2 .wrapper-games2 {
    width: 100%;
    margin-left: 0;
  }
}
.block-games2 .wrapper-games2 .left-effect2 {
  background-color: #dfdccb;
  top: 18px;
  position: absolute;
  height: 100%;
  width: 100px;
  transform: skewY(-20deg);
  float: left;
  margin-left: -100px;
}
@media (max-width: 1124px) {
  .block-games2 .wrapper-games2 .left-effect2 {
    display: none;
  }
}
.block-games2 .wrapper-games2 .chapter-games2 {
  margin: 20px 60px;
  text-align: center;
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 h2 {
  text-transform: uppercase;
  color: black;
  font: 800 35px Open Sans Extra Bold, sans-serif;
  display: inline-block;
  float: left;
  margin: 30px 20px 10px 60px;
}
@media (max-width: 1060px) {
  .block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 h2 {
    width: 80%;
    float: none;
  }
}
@media (max-width: 400px) {
  .block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 h2 {
    margin: 0;
    display: block;
  }
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .all-catalog {
  float: left;
  margin: 20px;
  color: #30b5d8;
  padding-top: 30px;
  border-bottom: 1px dashed #30b5d8;
  text-decoration: none;
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .all-catalog:hover {
  color: #30b5d8;
  border-bottom: #30b5d8;
}
@media (max-width: 1060px) {
  .block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .all-catalog {
    float: none;
    display: block;
    margin-bottom: 10px;
    padding: 0;
    border-bottom: none;
  }
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .radio-point {
  margin: 50px 0 0 -200px;
  padding: 5px;
  display: inline-block;
}
@media (max-width: 1060px) {
  .block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .radio-point {
    width: 50%;
    margin: 20px 10%;
  }
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .radio-point input {
  float: left;
  transform: scale(1.3);
  margin-left: 15px;
  text-align: center;
}
@media (max-width: 1060px) {
  .block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .radio-point input {
    float: none;
  }
}
@media (max-width: 640px) {
  .block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .radio-point input {
    margin: 0;
  }
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .slide-scroll1 {
  float: right;
  position: relative;
  margin: 30px 0px 0 10px;
}
@media (max-width: 1060px) {
  .block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .slide-scroll1 {
    float: none;
    margin: 0;
    top: -65px;
  }
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .slide-scroll1 .scroll-left1 {
  width: 50px;
  height: 50px;
  margin: 0;
  background-color: black;
  border-bottom: none;
  float: left;
  margin-right: 5px;
  padding-bottom: 3px;
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .slide-scroll1 .scroll-left1::before {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-right: 20px solid white;
  border-bottom: 20px solid transparent;
  top: 7px;
  left: 10px;
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .slide-scroll1 .scroll-left1::after {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-right: 15px solid black;
  border-bottom: 15px solid transparent;
  top: 12px;
  left: 15px;
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .slide-scroll1 .scroll-right1 {
  float: right;
  padding-bottom: 3px;
  width: 50px;
  height: 50px;
  margin: 0;
  background-color: black;
  border-bottom: none;
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .slide-scroll1 .scroll-right1::before {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-left: 20px solid white;
  border-bottom: 20px solid transparent;
  top: 7px;
  right: 10px;
}
.block-games2 .wrapper-games2 .chapter-games2 .chapter-games-block2 .slide-scroll1 .scroll-right1::after {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-left: 15px solid black;
  border-bottom: 15px solid transparent;
  top: 12px;
  right: 15px;
}
.block-games2 .wrapper-games2 .wrapper-g-content2 {
  margin: 20px 60px;
}
.block-games2 .wrapper-games2 .wrapper-g-content2 img {
  float: left;
  margin-right: 5px;
  width: 50%;
  border-bottom: 5px solid red;
}
.block-games2 .wrapper-games2 .wrapper-g-content2 p {
  padding: 0 5px 0 10px;
  font-family: Open Sans;
}
.block-games2 .wrapper-games2 .wrapper-g-content2 h2 {
  font-family: Open Sans;
  margin: 0;
  padding-left: 10px;
}
.block-games2 .wrapper-games2 .wrapper-g-content2 .play-botton {
  width: 70px;
  height: 70px;
  background-color: red;
  top: 0;
  left: 0;
}
@media (max-width: 1060px) {
  .block-games2 .wrapper-games2 .wrapper-g-content2 .play-botton {
    width: 40px;
    height: 40px;
  }
}
.block-games2 .wrapper-games2 .wrapper-g-content2 .play-botton .icon-play3:before {
  content: "\ea1c";
  color: white;
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
@media (max-width: 1060px) {
  .block-games2 .wrapper-games2 .wrapper-g-content2 .play-botton .icon-play3:before {
    top: 6px;
    left: 6px;
    font-size: 30px;
  }
}
.block-games2 .wrapper-games2 .wrapper-g-content2 .col21,
.block-games2 .wrapper-games2 .wrapper-g-content2 .col22,
.block-games2 .wrapper-games2 .wrapper-g-content2 .col23,
.block-games2 .wrapper-games2 .wrapper-g-content2 .col24,
.block-games2 .wrapper-games2 .wrapper-g-content2 .col25,
.block-games2 .wrapper-games2 .wrapper-g-content2 .col26 {
  float: left;
  margin-left: 10px;
  width: 45%;
  position: relative;
  background-color: white;
  margin: 15px;
}
@media (max-width: 1230px) {
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col21,
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col22,
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col23,
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col24,
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col25,
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col26 {
    font-size: 0.8em;
  }
}
@media (max-width: 960px) {
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col21,
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col22,
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col23,
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col24,
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col25,
  .block-games2 .wrapper-games2 .wrapper-g-content2 .col26 {
    width: 100%;
  }
}
.wrapper-articles {
  margin: 20px 135px;
}
@media (max-width: 800px) {
  .wrapper-articles {
    margin: 20px 60px;
  }
}
@media (max-width: 550px) {
  .wrapper-articles {
    margin: 10px 0px 10PX 0;
  }
}
.wrapper-articles .header-articles {
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .wrapper-articles .header-articles {
    text-align: center;
  }
}
.wrapper-articles .header-articles h2 {
  margin: 15px 30px 0px 5px;
  padding-left: 10px;
  float: left;
  font: 800 35px Open Sans Extra Bold, sans-serif;
}
@media (max-width: 800px) {
  .wrapper-articles .header-articles h2 {
    float: none;
    margin: 0;
  }
}
.wrapper-articles .header-articles a {
  border-bottom: 1px dashed #30b5d8;
  text-decoration: none;
  margin: 35px 30px 0px 5px;
  display: inline-block;
  color: #30b5d8;
}
.wrapper-articles .header-articles a:hover {
  color: dodgerblue;
  border-bottom: none;
}
@media (max-width: 800px) {
  .wrapper-articles .header-articles a {
    margin: 0;
  }
}
.wrapper-articles .header-articles button {
  float: right;
  margin: 35px 15px 0px 5px;
  border-radius: 50px;
  font-size: 15px;
  padding: 5px 15px;
  background-color: #30b5d8;
  color: white;
  border: transparent;
}
.wrapper-articles .header-articles button:hover {
  background-color: lightgray;
  color: black;
}
@media (max-width: 800px) {
  .wrapper-articles .header-articles button {
    float: none;
    display: block;
    margin: 15px auto;
  }
}
.wrapper-articles .description-article .colrow1,
.wrapper-articles .description-article .colrow2,
.wrapper-articles .description-article .colrow3,
.wrapper-articles .description-article .colrow4,
.wrapper-articles .description-article .colrow5,
.wrapper-articles .description-article .colrow6 {
  border: 2px solid #ededed;
  float: left;
  margin: 15px 15px;
  width: 30%;
  height: 450px;
  position: relative;
}
.wrapper-articles .description-article .colrow1 img,
.wrapper-articles .description-article .colrow2 img,
.wrapper-articles .description-article .colrow3 img,
.wrapper-articles .description-article .colrow4 img,
.wrapper-articles .description-article .colrow5 img,
.wrapper-articles .description-article .colrow6 img {
  float: left;
  margin: 0px 5px 0px 0px;
}
.wrapper-articles .description-article .colrow1 .date,
.wrapper-articles .description-article .colrow2 .date,
.wrapper-articles .description-article .colrow3 .date,
.wrapper-articles .description-article .colrow4 .date,
.wrapper-articles .description-article .colrow5 .date,
.wrapper-articles .description-article .colrow6 .date {
  width: 70px;
  height: 70px;
  background-color: dodgerblue;
  color: white;
  float: left;
  padding: 5px 10px;
  box-sizing: border-box;
}
.wrapper-articles .description-article .colrow1 .date span,
.wrapper-articles .description-article .colrow2 .date span,
.wrapper-articles .description-article .colrow3 .date span,
.wrapper-articles .description-article .colrow4 .date span,
.wrapper-articles .description-article .colrow5 .date span,
.wrapper-articles .description-article .colrow6 .date span {
  padding: 10px 8px 0;
  font-weight: 900;
  font-size: 30px;
}
.wrapper-articles .description-article .colrow1 .date p,
.wrapper-articles .description-article .colrow2 .date p,
.wrapper-articles .description-article .colrow3 .date p,
.wrapper-articles .description-article .colrow4 .date p,
.wrapper-articles .description-article .colrow5 .date p,
.wrapper-articles .description-article .colrow6 .date p {
  margin: 0 auto;
  text-align: center;
}
.wrapper-articles .description-article .colrow1 .views-data,
.wrapper-articles .description-article .colrow2 .views-data,
.wrapper-articles .description-article .colrow3 .views-data,
.wrapper-articles .description-article .colrow4 .views-data,
.wrapper-articles .description-article .colrow5 .views-data,
.wrapper-articles .description-article .colrow6 .views-data {
  background-color: #dfdccb;
  border-top: 1px solid gray;
  height: 70px;
  width: 55%;
  position: absolute;
  left: 130px;
}
.wrapper-articles .description-article .colrow1 .views-data .icon-bubble2:before,
.wrapper-articles .description-article .colrow2 .views-data .icon-bubble2:before,
.wrapper-articles .description-article .colrow3 .views-data .icon-bubble2:before,
.wrapper-articles .description-article .colrow4 .views-data .icon-bubble2:before,
.wrapper-articles .description-article .colrow5 .views-data .icon-bubble2:before,
.wrapper-articles .description-article .colrow6 .views-data .icon-bubble2:before {
  content: "\e96e";
}
.wrapper-articles .description-article .colrow1 .views-data .icon-rocket:before,
.wrapper-articles .description-article .colrow2 .views-data .icon-rocket:before,
.wrapper-articles .description-article .colrow3 .views-data .icon-rocket:before,
.wrapper-articles .description-article .colrow4 .views-data .icon-rocket:before,
.wrapper-articles .description-article .colrow5 .views-data .icon-rocket:before,
.wrapper-articles .description-article .colrow6 .views-data .icon-rocket:before {
  content: "\e9a5";
}
.wrapper-articles .description-article .colrow1 .views-data h2,
.wrapper-articles .description-article .colrow2 .views-data h2,
.wrapper-articles .description-article .colrow3 .views-data h2,
.wrapper-articles .description-article .colrow4 .views-data h2,
.wrapper-articles .description-article .colrow5 .views-data h2,
.wrapper-articles .description-article .colrow6 .views-data h2 {
  margin: 0 10px;
  color: dodgerblue;
  font-size: 20px;
}
@media (max-width: 400px) {
  .wrapper-articles .description-article .colrow1 .views-data h2,
  .wrapper-articles .description-article .colrow2 .views-data h2,
  .wrapper-articles .description-article .colrow3 .views-data h2,
  .wrapper-articles .description-article .colrow4 .views-data h2,
  .wrapper-articles .description-article .colrow5 .views-data h2,
  .wrapper-articles .description-article .colrow6 .views-data h2 {
    font-size: medium;
  }
}
.wrapper-articles .description-article .colrow1 .views-data .icondate,
.wrapper-articles .description-article .colrow2 .views-data .icondate,
.wrapper-articles .description-article .colrow3 .views-data .icondate,
.wrapper-articles .description-article .colrow4 .views-data .icondate,
.wrapper-articles .description-article .colrow5 .views-data .icondate,
.wrapper-articles .description-article .colrow6 .views-data .icondate {
  margin-left: 5px;
}
.wrapper-articles .description-article .colrow1 .views-data .icondate span,
.wrapper-articles .description-article .colrow2 .views-data .icondate span,
.wrapper-articles .description-article .colrow3 .views-data .icondate span,
.wrapper-articles .description-article .colrow4 .views-data .icondate span,
.wrapper-articles .description-article .colrow5 .views-data .icondate span,
.wrapper-articles .description-article .colrow6 .views-data .icondate span {
  margin: 5px;
  color: gray;
  font-size: small;
}
.wrapper-articles .description-article .colrow1:hover,
.wrapper-articles .description-article .colrow2:hover,
.wrapper-articles .description-article .colrow3:hover,
.wrapper-articles .description-article .colrow4:hover,
.wrapper-articles .description-article .colrow5:hover,
.wrapper-articles .description-article .colrow6:hover {
  background-color: skyblue;
  color: white;
}
@media (max-width: 1300px) {
  .wrapper-articles .description-article .colrow1,
  .wrapper-articles .description-article .colrow2,
  .wrapper-articles .description-article .colrow3,
  .wrapper-articles .description-article .colrow4,
  .wrapper-articles .description-article .colrow5,
  .wrapper-articles .description-article .colrow6 {
    width: 45%;
  }
}
@media (max-width: 980px) {
  .wrapper-articles .description-article .colrow1,
  .wrapper-articles .description-article .colrow2,
  .wrapper-articles .description-article .colrow3,
  .wrapper-articles .description-article .colrow4,
  .wrapper-articles .description-article .colrow5,
  .wrapper-articles .description-article .colrow6 {
    width: 90%;
    height: auto;
  }
}
.wrapper-articles .description-article .colrow1 .imgdate,
.wrapper-articles .description-article .colrow2 .imgdate,
.wrapper-articles .description-article .colrow3 .imgdate,
.wrapper-articles .description-article .colrow4 .imgdate,
.wrapper-articles .description-article .colrow5 .imgdate,
.wrapper-articles .description-article .colrow6 .imgdate {
  margin: 10px 0 0 -15px;
  width: 100%;
}
@media (max-width: 550px) {
  .wrapper-articles .description-article .colrow1 .imgdate,
  .wrapper-articles .description-article .colrow2 .imgdate,
  .wrapper-articles .description-article .colrow3 .imgdate,
  .wrapper-articles .description-article .colrow4 .imgdate,
  .wrapper-articles .description-article .colrow5 .imgdate,
  .wrapper-articles .description-article .colrow6 .imgdate {
    margin: 10px 0 0 -10px;
  }
}
.wrapper-articles .description-article .colrow1 .col-content h3,
.wrapper-articles .description-article .colrow2 .col-content h3,
.wrapper-articles .description-article .colrow3 .col-content h3,
.wrapper-articles .description-article .colrow4 .col-content h3,
.wrapper-articles .description-article .colrow5 .col-content h3,
.wrapper-articles .description-article .colrow6 .col-content h3 {
  margin: 15px 5px 10px 25px;
  color: black;
}
.wrapper-articles .description-article .colrow1 .col-content p,
.wrapper-articles .description-article .colrow2 .col-content p,
.wrapper-articles .description-article .colrow3 .col-content p,
.wrapper-articles .description-article .colrow4 .col-content p,
.wrapper-articles .description-article .colrow5 .col-content p,
.wrapper-articles .description-article .colrow6 .col-content p {
  margin: 15px 5px 0 25px;
  text-overflow: ellipsis;
}
.wrapper-footer {
  background-color: #dfdccb;
  position: relative;
}
.wrapper-footer .p-ages {
  width: 90px;
  height: 45px;
  border: 5px solid gray;
  position: absolute;
  right: 90px;
  top: 40px;
  background-color: transparent;
  font-size: 30px;
  text-align: center;
}
@media (max-width: 660px) {
  .wrapper-footer .p-ages {
    display: none;
  }
}
.wrapper-footer .dark-block {
  background-color: #33282c;
  border-top: 10px solid #f0cb59;
  width: 50%;
  margin-left: 80px;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width: 660px) {
  .wrapper-footer .dark-block {
    margin-left: 20px;
    width: 90%;
  }
}
.wrapper-footer .dark-block img {
  width: 75%;
  position: absolute;
  right: -230px;
  bottom: -75px;
}
@media (max-width: 1100px) {
  .wrapper-footer .dark-block img {
    width: 55%;
    right: -145px;
    bottom: -55px;
  }
}
@media (max-width: 920px) {
  .wrapper-footer .dark-block img {
    display: none;
  }
}
.wrapper-footer .dark-block .icon-accessibility:before {
  content: "\e9b2";
  font-size: 50px;
  color: black;
  position: absolute;
  background-color: #f0cb59;
  margin: -10px 5px 0 -15px;
  padding: 10px 5px 5px;
}
.wrapper-footer .dark-block .icon-twitter:before {
  content: "\ea96";
  position: absolute;
  font-size: 30px;
  top: 10px;
  padding: 8px;
  border-radius: 10px;
  left: 60px;
  background-color: #1da1f2;
}
@media (max-width: 660px) {
  .wrapper-footer .dark-block .icon-twitter:before {
    font-size: 20px;
    padding: 5px;
  }
}
.wrapper-footer .dark-block .icon-facebook:before {
  content: "\ea90";
  position: absolute;
  font-size: 30px;
  top: 10px;
  padding: 8px;
  border-radius: 10px;
  left: 120px;
  background-color: #29487d;
  color: white;
}
@media (max-width: 660px) {
  .wrapper-footer .dark-block .icon-facebook:before {
    font-size: 20px;
    padding: 5px;
  }
}
@media (max-width: 660px) {
  .wrapper-footer .dark-block .icon-facebook:before {
    left: 100px;
  }
}
.wrapper-footer .dark-block .icon-renren:before {
  content: "\ea99";
  position: absolute;
  font-size: 30px;
  top: 10px;
  padding: 8px;
  border-radius: 10px;
  left: 180px;
  background-color: hotpink;
}
@media (max-width: 660px) {
  .wrapper-footer .dark-block .icon-renren:before {
    font-size: 20px;
    padding: 5px;
  }
}
@media (max-width: 660px) {
  .wrapper-footer .dark-block .icon-renren:before {
    left: 140px;
  }
}
.wrapper-footer .dark-block .icon-google:before {
  content: "\ea88";
  position: absolute;
  font-size: 30px;
  top: 10px;
  padding: 8px;
  border-radius: 10px;
  left: 240px;
  background-color: white;
}
@media (max-width: 660px) {
  .wrapper-footer .dark-block .icon-google:before {
    font-size: 20px;
    padding: 5px;
  }
}
@media (max-width: 660px) {
  .wrapper-footer .dark-block .icon-google:before {
    left: 180px;
  }
}
.wrapper-footer .dark-block h4 {
  width: 60%;
  margin: 80px 30px 30px;
  color: white;
  font-size: 1em;
  font-weight: bold;
}
.wrapper-footer .dark-block p {
  width: 60%;
  margin: 0px 30px;
  color: white;
  font-size: 0.8em;
  padding-bottom: 20px;
}
.wrapper-footer .dark-block button {
  background-color: #30b5d8;
  color: white;
  border: none;
  font-size: 20px;
  width: 30%;
  height: 15%;
  left: 160px;
  position: absolute;
  bottom: -20px;
}
@media (max-width: 960px) {
  .wrapper-footer .dark-block button {
    bottom: -35px;
    font-size: 15px;
    left: 150px;
  }
}
.wrapper-footer .dark-block button:hover {
  background-color: #f0cb59;
}
.wrapper-footer .permission-info {
  width: 20%;
  font-size: 0.8em;
  margin: 5px 10px;
  position: absolute;
  right: 0px;
  top: 145px;
}
@media (max-width: 920px) {
  .wrapper-footer .permission-info {
    width: 30%;
    top: 120px;
  }
}
@media (max-width: 660px) {
  .wrapper-footer .permission-info {
    display: none;
  }
}
.wrapper-footer .left-right-decor {
  height: 10px;
  position: relative;
  padding-top: 35px;
  width: 100%;
}
.wrapper-footer .left-right-decor .decor-left {
  border: 7.5px solid #ff4c36;
  position: absolute;
  width: 40%;
  bottom: 0px;
}
@media (max-width: 660px) {
  .wrapper-footer .left-right-decor .decor-left {
    border: 3.5px solid #ff4c36;
  }
}
.wrapper-footer .left-right-decor .decor-right {
  border: 7.5px solid #30b5d8;
  position: absolute;
  width: 35%;
  bottom: 0px;
  right: 0;
}
@media (max-width: 660px) {
  .wrapper-footer .left-right-decor .decor-right {
    border: 3.5px solid #ff4c36;
  }
}
.wrapper-footer .left-right-decor img {
  position: absolute;
  left: 30%;
  bottom: 0;
  width: 45%;
}
